{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Dashboard | Description List {% endblock %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                            </svg></div>
                        Profile Management
                    </h1>
                    <div class="page-header-subtitle">Manage your Profiles from here</div>
                </div>
                <div class="col-12 col-xl-auto mt-4">
                    <div class="input-group input-group-joined border-0" style="width: 16.5rem">
                        <a class="btn btn-white" href="{% url 'dashboard:profile-create' %}">Add Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-xl px-4  mt-n10">
    <div class="card">
        <div class="card-header">Profiles Table</div>

        <div class="card-body">
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                <div class="dataTable-top">
                    <div class="dataTable-dropdown">
                        <label>entries per page
                            <select class="dataTable-selector" id="page-size-num">
                                <option value="5">5</option>
                                <option value="10" selected="">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </label>
                    </div>

                    <div class="dataTable-search">
                        <div class="input-group input-group-joined">
                            <input class="form-control pe-0" type="text" placeholder="Input text search"
                                aria-label="Search" id="search-filter-input">
                            <span class="input-group-text">
                                <i data-feather="search"></i>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="dataTable-container">
                    <table class="dataTable-table">
                        <thead>
                            <tr>
                                <th style="width: 4.08372%;">#</th>
                                <th style="width: 4.08372%;">Id</th>
                                <th style="width: 40.2795%;">Name</th>
                                <th style="width: 8.68718%;">Created Date</th>
                                <th style="width: 9.28117%;">Updated Date</th>
                                <th style="width: 10.49919%;">Actions</th>
                            </tr>
                        </thead>

                        <tbody id="table-item-wrapper">

                        </tbody>
                    </table>
                </div>
                <div class="dataTable-bottom">
                    <div class="dataTable-info">Total entries <span id="total-items"></span></div>
                    <nav class="dataTable-pagination">
                        <ul class="dataTable-pagination-list">

                            <li class=""><a id="prev-page-btn" href="#">Prev Page</a></li>
                            <li class=""><a id="next-page-btn" href="#">Next Page</a></li>
                            <!-- <li class="active"><a href="#">1</a></li>
                            <li class=""><a href="#">2</a></li>
                            <li class=""><a href="#">3</a></li>
                            <li class=""><a href="#">4</a></li>
                            <li class=""><a href="#">5</a></li>
                            <li class=""><a href="#">6</a></li>
                            <li class=""><a href="#">7</a></li>
                            <li class="ellipsis"><a href="#">…</a></li>
                            <li class=""><a href="#" data-page="167">167</a></li>
                            <li class="pager"><a href="#" data-page="2">›</a></li> -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}

{% block extra_js %}

<script>
    var host_url = location.protocol + '//' + location.host
    var main_url = new URL(host_url + "/cv-builder/api/v1/profile/")
    var page_number = null;
    var next_page_url = null;
    var prev_page_url = null;
    var preselected


    function fetchData(url) {
        let wrapper = $('#table-item-wrapper')

        $.get(url,  // url
            function (data, textStatus, jqXHR) {
                $('#total-items').text(data.total_items)
                next_page_url = data.links.next;
                prev_page_url = data.links.previous;
                results_data = data.results
                wrapper.empty()
                results_data.forEach(function (item, i) {
                    // for (post of data.results) {
                    wrapper.append(`<tr id='table-item-${item.id}'>
                            <td>${i += 1}</td>
                            <td>${item.id}</td>
                            <td>${item.first_name} ${item.last_name}</td>
                            
                            <td>${item.created_date}</td>
                            <td>${item.updated_date}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/dashboard/profile/${item.id}/edit/" >Edit</a>
                                <button class="btn btn-danger btn-xs" type="button" onclick="removeItem(${item.id})">Delete</button>
                            </td>
                        </tr>`)
                }
                )
            })

    }

    function removeItem(id) {
        if (confirm(`Are you sure you want to remove this ${id} id?`)) {
            $.ajax({
                // contentType: "multipart/form-data",
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                type: 'DELETE',
                processData: false,
                contentType: false,
                url: `/cv-builder/api/v1/profile/${id}/`,
                success: function (data) {
                    fetchData(main_url)
                },
                failure: function (response) {
                    alert(response)
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
        } else {

        }
    }



    window.addEventListener('DOMContentLoaded', event => {
        url = main_url
        fetchData(url)
        // fetchJobTitles()
    });


    $("#next-page-btn").click(function (e) {
        e.preventDefault()
        if (next_page_url !== null) {
            main_url = new URL(host_url + next_page_url)
            fetchData(main_url)
        }
        else {
            fetchData(main_url)
        }

    });

    $("#prev-page-btn").click(function (e) {
        e.preventDefault()
        if (prev_page_url !== null) {
            main_url = new URL(host_url + prev_page_url)
            fetchData(main_url)
        }
        else {
            fetchData(main_url)
        }
    });


    $("#page-size-num").change(function (e) {

        main_url.searchParams.set('page_size', $(this).find(":selected").text());
        fetchData(main_url)
        // url.searchParams.append('x', 42);

    });

    $("#search-filter-input").on('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
            main_url.searchParams.set('search', $(this).val())
            fetchData(main_url)
        }
    });



</script>
{% endblock %}