{% extends 'dashboard/base.html' %}
{% block title %}Dashboard | Create User Profile {% endblock %}

{% block extra_css %}
<style>
    a.disabled {
        pointer-events: none !important;
        cursor: default !important;
    }
</style>
{% endblock extra_css %}

{% block content %}
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="arrow-right-circle"></i></div>
                        Wizard
                    </h1>
                    <div class="page-header-subtitle">Create the cv with step by step guides, which leads to better
                        quality</div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl px-4 mt-n10">
    <!-- Wizard card example with navigation-->
    <div class="card">
        <div class="card-header border-bottom">
            <!-- Wizard navigation-->
            <div class="nav nav-pills nav-justified flex-column flex-xl-row nav-wizard" id="cardTab" role="tablist">
                <!-- Wizard navigation item 1-->
                <a class="nav-item nav-link  disabled" id="wizard1-tab" href="#wizard1" data-bs-toggle="tab"
                    role="tab" aria-controls="wizard1" aria-selected="true">
                    <div class="wizard-step-icon">1</div>
                    <div class="wizard-step-text">
                        <div class="wizard-step-text-name">Heading</div>
                        <!-- <div class="wizard-step-text-details">Put some Info about the user</div> -->
                    </div>
                </a>
                <!-- Wizard navigation item 2-->
                <a class="nav-item nav-link  disabled" id="wizard2-tab" href="#wizard2" data-bs-toggle="tab" role="tab"
                    aria-controls="wizard2" aria-selected="true">
                    <div class="wizard-step-icon">2</div>
                    <div class="wizard-step-text">
                        <div class="wizard-step-text-name">Work History</div>
                        <!-- <div class="wizard-step-text-details">Who is going to manage it</div> -->
                    </div>
                </a>
                <!-- Wizard navigation item 3-->
                <a class="nav-item nav-link  disabled" id="wizard3-tab" href="#wizard3" data-bs-toggle="tab" role="tab"
                    aria-controls="wizard3" aria-selected="true">
                    <div class="wizard-step-icon">3</div>
                    <div class="wizard-step-text">
                        <div class="wizard-step-text-name">Education</div>
                        <!-- <div class="wizard-step-text-details">Notification and account options</div> -->
                    </div>
                </a>
                <!-- Wizard navigation item 4-->
                <a class="nav-item nav-link disabled" id="wizard4-tab" href="#wizard4" data-bs-toggle="tab" role="tab"
                    aria-controls="wizard4" aria-selected="true">
                    <div class="wizard-step-icon">4</div>
                    <div class="wizard-step-text">
                        <div class="wizard-step-text-name">Skills</div>
                        <!-- <div class="wizard-step-text-details">Notification and account options</div> -->
                    </div>
                </a>
                <!-- Wizard navigation item 5-->
                <a class="nav-item nav-link active disabled" id="wizard5-tab" href="#wizard5" data-bs-toggle="tab" role="tab"
                    aria-controls="wizard4" aria-selected="true">
                    <div class="wizard-step-icon">5</div>
                    <div class="wizard-step-text">
                        <div class="wizard-step-text-name">Additional</div>
                        <!-- <div class="wizard-step-text-details">Notification and account options</div> -->
                    </div>
                </a>
                <!-- Wizard navigation item 6-->
                <a class="nav-item nav-link disabled" id="wizard6-tab" href="#wizard6" data-bs-toggle="tab" role="tab"
                    aria-controls="wizard6" aria-selected="true">
                    <div class="wizard-step-icon">6</div>
                    <div class="wizard-step-text">
                        <div class="wizard-step-text-name">Finalize</div>
                        <!-- <div class="wizard-step-text-details">Notification and account options</div> -->
                    </div>
                </a>

            </div>
        </div>
        <div class="card-body">
            <div class="tab-content" id="cardTabContent">
                <!-- Wizard tab pane item 1-->
                <div class="tab-pane py-5 py-xl-10 fade show active" id="wizard1" role="tabpanel"
                    aria-labelledby="wizard1-tab">
                    <div class="row justify-content-center">
                        <div class="col-xxl-6 col-xl-8">
                            <h3 class="text-primary">Step 2</h3>
                            <h5 class="card-title mb-4">Enter your User Work Experiences information</h5>


                            <a class="btn btn-secondary" type="button" href="{% url 'dashboard:skill-mgmt' pk=object.id %}">Back</a>
                            <a class="btn btn-primary" type="button" href="{% url 'dashboard:finalize-mgmt' pk=object.id %}">Next</a>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}

{% endblock %}